*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  padding-top: 45px;
  width: 100%;
}

.content {
  display: inline-block;
  padding: 20px;
}

.arrow {
  display: inline-block;
  float: right;
  padding: 30px 20px 0px 0px;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  line-height: normal;
}

h3 {
  font-size: 1.4em;
  line-height: normal;
}

.location {
  background-color: #E5E5E5;
  border-bottom: 1px solid #3A3A3A;
}

.location:hover {
  background-color: #A3A3A3;
}
